POSTGRES_DB=fiap-java-tc
POSTGRES_USER=fiaptc
POSTGRES_PASSWORD=fiaptc1234

MS_PRODUCTS_GETBYID=http://host.docker.internal:8081/api/v1/products/find-all-by-ids
MS_INVENTORY_UPDATEINVENTORY=http://host.docker.internal:8081/api/v1/inventory/discount-items-by-products
MS_PAYMENT_CREATE=http://host.docker.internal:8083/api/v1/payments/
MS_PAYMENT_GETBYID=http://host.docker.internal:8083/api/v1/payments/order