apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  namespace: fastfood
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: fiap-fastfood-ms-orders:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: orders-config
            - secretRef:
                name: orders-secret
          readinessProbe:
            httpGet:
              path: /api/v1/orders/queue
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/v1/orders/queue
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 20
