name: SonarCloud

on:
  pull_request:
  push:

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 23

      - name: Build with tests
        run: mvn clean verify

      - name: SonarCloud Scan
        run: mvn -B sonar:sonar \
          -Dsonar.projectKey=${{secrets.SONAR_PROJECT_KEY}} \
          -Dsonar.organization=${{secrets.SONAR_ORGANIZATION}} \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
